
{% extends "base.html" %}

{% block title %} Meeting: {{ meeting.title }} {% endblock %}

{% block content %}
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">{{ meeting.title }}</h4>
            </div>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item"><strong>Date: </strong>{{ meeting.date }}</li>
                    <li class="list-group-item"><strong>Start Time: </strong>{{ meeting.start_time }}</li>
                    <li class="list-group-item"><strong>Duration: </strong>{{ meeting.duration }}</li>
                    <li class="list-group-item"><strong>Room: </strong>{{ meeting.room }}</li>
                </ul>
            </div>
            <div class="card-footer">
                <a href="{% url 'welcome' %}" class="btn btn-sm btn-primary float-end">Back Home</a>
            </div>
        </div>
    </div>
{% endblock %}
